@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --lightblue: #b7e1f5;
  --darkgray: #333333;
  --darkblue: #003366;
  --goldenyellow: #ffd700;
  --red: #ee3922;
  --Deepnavyblue: #002244;
  --Softbeige: #fff5e1;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--lightblue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1,
h3 {
  color: var(--darkblue);
  margin: 20px;
  font-family: "Pirata One", system-ui;
}

p {
  color: var(--darkgray);
  margin: 10px;
  font-family: "Roboto", sans-serif;
}

a:active {
  color: var(--vibrantred);
}

.conteiner01 {
  width: 1200px;
}
.conteiner02 {
  display: grid; /* Ativa o Grid Layout */
  grid-template-columns: repeat(3, 1fr); /* Três colunas */
  grid-auto-rows: 480px; /* Altura fixa para os cards */
  gap: 20px; /* Espaçamento entre os cards */
}

.navbar {
  background-color: var(--Deepnavyblue);
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.navbar-pages {
  margin: 15px;
  color: var(--goldenyellow);
}

.img-luffy {
  width: 500px;
  height: 500px;
}

.img-zoro {
  width: 500px;
  height: 500px;
}

.character-card {
  width: 300px;
  height: 450px;
  border: 2px solid var(--darkblue);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #57bdec;
  margin: 20px;
  transition: transform 0.3s ease;
}

.character-card:hover {
  transform: scale(1.05);
}

.character-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

/* .btn-more-info {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-more-info:hover {
  background-color: #002244;
} */
